@charset 'utf-8';

.theme_dark {
    --nav-bg-color : #0f0f0f;
    --nav-ft-color : #ffffff;
    --nav-on-color : #ffffff;

    --btn-gradient-color : linear-gradient(138deg, #fcc090 16%, #ed0f69 84%);
}